trimesh
scikit-learn
opencv-python
matplotlib
imageio
diffusers==0.21.0
einops
transformers
open-clip-torch
gradio
pytorch-lightning==1.9.1
omegaconf
triton
accelerate
plotly
xatlas
wandb
point_cloud_utils
rtree
cython
ninja
packaging
blenderproc
dreifus
torch-fidelity
clean-fid